* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(152, 52, 245);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    text-align: center;
}

.box h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#button {
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid;
    width: 155px;
    height: 40px;
    text-align: center;
    background: rgb(152, 52, 245);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    cursor: pointer;
}

.btn2 {
    margin-left: 100px;
}

.btn1 {
    margin-left: 8px;
}

#button:hover {
    background: darkmagenta;
}